.notification_item {
  border-bottom: 2px solid #ddd;;
  min-height: 75px;
  padding: 10px 15px;
  &.recent {
    background-color: #ECF0F1;
  }

  &.new {
    background-color: rgba(52, 152, 219, 0.125);
  }
}

.date {
  padding-top: 10px;
  color: #999;
}

.no_notifications {
  text-align: center;
}
