.water_bottle {
  width: 16%;
}

.coca_cola_bottle {
  width: 6%;
  margin: 0 26px;
}

.water_dispenser_bottle {
  width: 8%;
  margin: 0 22px;
}

.relative_graph {
  background-color: rgba(52,152,219,0.3);
}

.relative_header {
  text-align: center;
}
