.tip_lightbulb {
  width: 35px;
  position: absolute;
}

.tip_title {
  margin-bottom: 15px;
  span {
    font-size: 30px;
  }
}

.tip_image {
  width: 150px;
  margin-bottom: 15px;
}

.tip_more_info {
  color: #2980B9;
}

.tip_more_info :hover {
  color: #3498DB;
}
