@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,700,900';
@import "~bootstrap/less/bootstrap.less";
@import "~font-awesome/less/font-awesome.less";
@import "~react-select/dist/react-select.min.css";
@import "~react-datepicker/dist/react-datepicker.css";

/* screen sizes */
@desktopxl: ~"only screen and (min-width: @{screen-lg})";
@desktop: ~"only screen and (min-width: @{screen-md}) and (max-width: @{screen-md-max})";
@tablet: ~"only screen and (min-width: @{screen-xs}) and (max-width: @{screen-sm-max})";
@mobile: ~"only screen and (max-width: @{screen-xs-min})";

html, body, #app {
  height: 100%;
  width: 100%;
  font-family: 'Roboto';
  background-color: #ECF0F1;
  color: #2C3E50;
}

.btn-danger {
  background-color: #E74C3C;
}

.modal-content {
  background-color: #ECF0F1;
}

.modal-header {
  background-color: #2C3E50;
  color: #ECF0F1;
}

.close {
  span {
    color: #ECF0F1 !important;
  }
}

.well {
  background-color: rgba(41,128,185,0.2);
}
